:root {
    --main-color: #212121;
    --second-color: #2196F3;
    --third-color: #757575;
    --second-font: 'Raleway', sans-serif;
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    color: var(--main-color);
}

.list {
    list-style: none;
}


.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--second-color);
}

.btn {
    background: #F5F4FA;
    color: inherit;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background: var(--second-color);
    color: #FFFFFF;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

/* ----------------------------HEADER ---------------------------------*/
.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.logo {
    color: var(--main-color);
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo:focus {
    color: var(--second-color);
}

.logo>span {
    color: #2196F3;
}


.header-nav-link {
    color: var(--main-color);
}


.header-contact-link {
    color: var(--third-color);
}

/*-------------------------------- HERO--------------------------- */
.hero {
    background-color: #2F303A;
}

.hero-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-btn {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
}


/* ---------------------------BENEFITS---------------------------- */

.benefits-caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits-descr {
    color: var(--third-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* -----------------------OCCUPATION------------------- */

/* -------------------------TEAM-------------------------- */
.team-caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.team-descr {
    color: var(--third-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

/* -------------------------FOOTER -------------------------- */
.footer {
    background-color: #2F303A;
}

.footer-list {
    font-style: normal;
}

.footer-address {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-contact-link {
    color: var(--third-color);

}

.footer-address:hover,
.footer-address:focus {
    color: var(--second-color);
}

/*----------------- PORTFOLIO--------------------- */
.portfolio-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.portfolio-capture {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-descr {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--third-color);
}